<div data-ng-controller="TagsGrpInstController">

<ol class="breadcrumb">
  <!-- <li><a href="#">Home</a></li> -->
  <li><a href="#/tags">Tags home</a></li>
  <li class="active"><% tagGrp._source.title %></li>
</ol>

<h1>Tag Group: <% tagGrp._source.title %></h1>
<ul>
  <li class="item" data-ng-repeat="item in tagsGrpList">
    <a href="#/tags/<%item._id%>">
      <% item._source.title %>
    </a>
    &nbsp;
    <i class="glyphicon glyphicon-remove-circle" data-ng-click="delTagGrp(item)"></i>
  </li>
</ul>
<input id="newTag" data-ng-model="newTagGrp" />
<button data-ng-click="addNewTagGrp()">Add</button>
</div>