<div data-ng-controller="TagsGrpController">

<ol class="breadcrumb">
<!-- 
  <li><a href="#">Tags Home</a></li>
  <li><a href="#">Library</a></li>
 -->
  <li class="active">Tags home</li>
</ol>


<h1>Tag Group</h1>
<ul>
  <li class="item" data-ng-repeat="item in tagsGrpList">
    <a href="#/tags/<%item._id%>">
      <% item._source.title %>
    </a>
    &nbsp;
    <i class="glyphicon glyphicon-remove-circle" data-ng-click="delTagGrp(item)"></i>
  </li>
</ul>
<input id="newTag" data-ng-model="newTagGrp" />
<button data-ng-click="addNewTagGrp()">Add</button>
</div>